.password-container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 200px; /* Defina a largura máxima desejada */
    margin: 0 auto;  /* Centraliza horizontalmente */
    margin-top: 50%;
    
  }
  
  .password-input {
    padding: 6px;
    flex: 1;
    font-size: 14px;
    width: 100%; /* Ocupa o espaço disponível */
    padding-right: 40px; /* Adiciona espaço para o ícone do olho */
    overflow: hidden; /* Impede que os caracteres ultrapassem o ícone */
    }
  
  .toggle-eye {
    cursor: pointer;
    position: absolute;
    right: 10px;
  }